* Flip Card Styles */
.flip-card {
  height: 300px; /* Adjust height as needed */
  perspective: 1000px;
  border: 1px solid #f1f1f1;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
  width: 200px;
  height: 300px;
}
.flip-card-back {
  background-color: #4f4f4f;
  color: white;
  transform: rotateY(180deg);
  background-image: src(Backround.png);
  color: paleturquoise;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}
/* Add the flip class */
.flip {
  transform: rotateY(180deg);
}
